@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main-color {
  color: #338573;
}

.btn-primary, .btn-primary:hover {
  background-color: #338573;
  border-color: #338573;
  border-radius: 10px;
  padding: 5px 25px;
}

.bg-primary {
  background-color: #338573 !important;
}

.main-background {
  background-color: #338573;
}

.float-right {
  float: right;
}

.text-bold {
  font-weight: 600;
}

/* Navbar */
.navbar {
  padding: 20px;
  background-color: #fff;

}

.nav-item .nav-link {
    color: #338573;
    font-weight: 500;
    font-size: 17px;
}

.btn-primary {
    font-weight: 500;
    font-size: 20px;
    margin-left: 25px;
}

.navbar-brand {
    color: #338573;
    font-weight: bolder;
    font-size: 28px;
}

/*Homepage*/
.homepage {
  background-image: url('./assets/Homepage_Image.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.intro {
    padding: 55px;
}

h1 {
    font-weight: bolder;
    font-size: 65px;
    line-height: 70px;
}

p {
    color: #616161d5;
    line-height: 25px;
    font-size: 18px;
}

.search-form {
  margin-top: 70px;
}

.input-group input {
  height: 55px;
  background-color: #fff;
  border-radius: 20px 0px 0px 20px;
  border: none;
}

::placeholder {
    color: #AEB0B4;
    font-size: 15px;
}

:focus,
:active {
  box-shadow: none;
}

.input-group-append button {
  margin-left: 1px;
  height: 55px;
  border-radius: 0px 10px 10px 0px;
}

/*Categories*/
.categories {
  background-color: #F6F7FA;
  padding-bottom: 50px;
}

.card {
  background-color: #fff;
  border: none;
  padding: 20px;
  margin-bottom: 50px;
}

h4 {
  font-size: 17px;
  font-weight: 600;
}

/*Jobs List*/
.job-card {
  margin-bottom: 40px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.text-muted {
  font-size: 13px;
}

.h4 {
  font-size: 20px;
  font-weight: 700;
}

.logo {
  text-align: center;
  background-color: #338573;
  margin: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.h4-logo {
  margin-top: 20px;
  color: #fff;
  font-weight: 900;
  font-size: 40px;
}

.icon i {
  color: #338573;
}

.desc p {
  font-size: 14px;
}

.view-details {
  text-align: center;
  margin: 38px 0px 0px 30px;
  background-color: #338573;
  padding: 11px 19px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

/*Login*/
.top-header {
  background-color: #F6F7FA;
  padding: 40px;
}

.auth-card {
  padding: 20px;
  border: 1px solid rgba(0,0,0,.125);
}

.login {
  width: 100%;
  background-color: #338573;
  color: #fff;
  padding: 10px;
  font-weight: 700;
}

.required::after {
  content: " *";
  color: red;
}

/* Forms */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group select {
  height: 49px;
}
    :focus,
    :active {
      box-shadow: none
}

.form-group input {
  height: 49px;
}
  ::placeholder {
    color: #AEB0B4;
    font-size: 15px;
  }

  :focus,
  :active {
      box-shadow: none;
    }

/*Create a Job Page*/
.create-job-card {
  padding: 30px;
  border: 1px solid #D6D6D6;
}

.btn-post-job {
  background-color: #338573;
  color: #fff;
  font-weight: 800;
  padding: 10px 20px;
  float: right;
}

/*Buttons*/
.btn-primary,
.btn-primary:hover {
  background-color: #338573;
  border-color: #338573;
  border-radius: 10px;
  padding: 5px 25px;
}

.btn-border-outline {
  background-color: transparent;
  border: 1px solid #AAAAAA;
  color: #338573;
  margin-right: 20px;
}

.btn-apply {
  background-color: #338573;
  border: 1px solid #338573;
  color: #fff;
}

.btn-apply:hover {
  background-color: transparent;
  color: #338573;
  border: 1px solid #338573;
}

.login:hover,
.view-details:hover,
.btn-post-job:hover {
  background-color: transparent;
  border: 1px solid #338573;
  color: #338573;
}

p {
  font-size: 13px;
}
